<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>O Mundo Da Tecnologia Está Aqui!</h1>
                <h2>Informação com conteúdo prático e objetivo</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Artigos</a>
                    <a (click)="apresentacaoShowDialog()" class="glightbox btn-apresentacao">
                        <i class="fas fa-bolt"></i><span>Apresentação</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/images/exj-hero.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>