/* Fonts */

/*@font-face {
    font-family: 'ExjText-Master';
    src: url('./exjFonts_master_24px.ttf') format('truetype');
}

@font-face {
    font-family: 'ExjText-Bold';
    src: url('./exjFonts_Bd.ttf') format('truetype');
}

@font-face {
    font-family: 'ExjText-Light';
    src: url('./exjFonts_Lt.ttf') format('truetype');
}

@font-face {
    font-family: 'ExjText-Regular';
    src: url('./exjFonts_Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'ExjText-XBold';
    src: url('./exjFonts_XBd.ttf') format('truetype');
}

.exj-text-master {
    font-family: ExjText-Master;
}

.exj-text-bold {
    font-family: ExjText-Bold;
}

.exj-text-light {
    font-family: ExjText-Light;
}

.exj-text-regular {
    font-family: ExjText-Regular;
}

.exj-text-xbold {
    font-family: ExjText-XBold;
}
*/