<div class="contract-container">
    <div class="vertical-menu">
        <a (click)="redirectToAtendimento()">
            <em class="icon-atendimento"></em>
            <strong>Atendimento</strong>
        </a>
        <a (click)="redirectToAtendimento()">
            <em class="icon-atendimento"></em>
            <strong>Contrato</strong>
        </a>
        <a (click)="redirectToAtendimento()">
            <em class="icon-atendimento"></em>
            <strong>Eventos</strong>
        </a>
        <a (click)="redirectToAtendimento()">
            <em class="icon-atendimento"></em>
            <strong>Painel</strong>
        </a>
        <a (click)="redirectToAtendimento()">
            <em class="icon-atendimento"></em>
            <strong>Controle</strong>
        </a>
        <a (click)="redirectToAtendimento()">
            <em class="icon-atendimento"></em>
            <strong>Admin</strong>
        </a>
    </div>
</div>