<footer id="footer">

    <!--div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Assine Nossa Newsletter</h4>
            <p>
              Receba periódicamente um resumo dos conteúdos publicados. Junte-se a uma
              comunidade apaixonada por tecnologia e desenvolvimento de software
            </p>
            <div id="subscribe">
              <input type="email" name="email" placeholder="Digite seu e-mail">
              <input type="submit" value="Subscribe">
            </div>
          </div>
        </div>
      </div>
    </div-->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <img src="assets/images/exj-icon.png" alt="" class="img-fluid" width="80">
            <p>
              <!--Londrina, Paraná<br>
              Brasil <br><br-->
              <!--strong>Whatsapp:</strong> 43 99867 3053<br-->
              <!--strong>Email:</strong> exj@gmail.com<br-->
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a href="#">Sobre o ExJ</a></li>
              <li><a href="#">Time Editorial</a></li>
              <li><a href="#">Termos de Serviço</a></li>
              <li><a href="#">Política de Privacidade</a></li>
              <!--li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li-->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossos Serviços</h4>
            <ul>
              <li><a href="#">Contato</a></li>
              <li><a href="#">Quero Contribuir</a></li>
              <li><i class="fab fa-apple"></i><a href="#">App para iOS</a></li>
              <li><i class="fab fa-google-play"></i><a href="#">App para Android</a></li>
            </ul>
            <br>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossas Redes Sociais</h4>
            <p>Fique por dentro de todas as notícias, artigos e vídeos que são lançados</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <!--a href="#" class="google-plus"><i class="bx bxl-skype"></i></a-->
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>ExJ</span></strong>. Todos os direitos reservados
      </div>
      <!--div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div-->

    </div>
</footer>